annotation:not(.lance-annotation-class) {
	display:inline-block;
	width: 16px !important;
	height: 21px !important;
	background-image: url(images/marker3.png);
	background-size: cover;
	text-decoration:none;
	overflow:hidden;
	color:transparent;
	cursor: pointer;
}
annotation:not(.lance-annotation-class)[data-selected='true'] {
	background-image: url(images/marker3-s.png);
}

.lance-annotation-class {
	background-color: #f9e9ac;
	border: 1px transparent;
	border-left-color: #eeeee9;
	border-top-color: #eeeee9;
	border-right-color: #d0d0d0;
	border-bottom-color: #d0d0d0;
	padding: 1px 0;
	border-radius: 4px;
	border-top-left-radius: 0;
	box-sizing: border-box;
}

.lance-annotation-class[data-selected='true'] {
	/* border-color: #f9e9ac; */
	background-color: #f9d33b;
	/* border-style: outset; */
}

img.cke_annotation {
	width: 16px !important;
	height: 21px !important;
	background-image: url(images/marker3.png);
	background-size: cover;
	cursor: pointer;
	resize:none;
	 -moz-resize: none;
}

img.cke_annotation[data-selected='true'], annotation.cke_annotation[data-selected='true'] {
	background-image: url(images/marker3-s.png);
}

img.cke_annotation::selection, annotation.cke_annotation::selection {
	background-color:transparent;	
}

img.cke_annotation::-moz-selection, annotation.cke_annotation::-moz-selection {
	background-color:transparent;	
}
